<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
            <script>
                function logout() {
                    socket.emit('logoutUserPanneau', true);
                }
            </script>
    </header>

    </br>

    <div class="jumbotron">
        <section id="powerMeter_section">
            <h1 class="gradient-text">
                <%= title %>
            </h1>

            </br></br>

            <table id="tablePm">
                <thead>
                    <tr>
                        <th>Informations relatives</th>
                        <th>Valeur instantanée</th>
                        <th>Valeur minimum</th>
                        <th>Valeur maximum</th>
                        <th>Valeur moyenne</th>
                    </tr>
                </thead>
                <tbody id="body">
                    <tr>
                        <td class="bolded">Van (V)</td>
                        <td id="VanInst">
                            <%= tabValVan[0] %>
                        </td>
                        <td id="VanMin">
                            <%= tabValVan[1] %>
                        </td>
                        <td id="VanMax">
                            <%= tabValVan[2] %>
                        </td>
                        <td id="VanMoyenne">
                            <%= tabValVan[3] %>
                        </td>
                    </tr>

                    <tr>
                        <td class="bolded">Vbn (V)</td>
                        <td id="VbnInst">
                            <%= tabValVbn[0] %>
                        </td>
                        <td id="VbnMin">
                            <%= tabValVbn[1] %>
                        </td>
                        <td id="VbnMax">
                            <%= tabValVbn[2] %>
                        </td>
                        <td id="VbnMoyenne">
                            <%= tabValVbn[3] %>
                        </td>
                    </tr>

                    <tr>
                        <td class="bolded">Vab (V)</td>
                        <td id="VabInst">
                            <%= tabValVab[0] %>
                        </td>
                        <td id="VabMin">
                            <%= tabValVab[1] %>
                        </td>
                        <td id="VabMax">
                            <%= tabValVab[2] %>
                        </td>
                        <td id="VabMoyenne">
                            <%= tabValVab[3] %>
                        </td>
                    </tr>

                    <tr>
                        <td class="bolded">Ia (A)</td>
                        <td id="IaInst">
                            <%= tabValIa[0] %>
                        </td>
                        <td id="IaMin">
                            <%= tabValIa[1] %>
                        </td>
                        <td id="IaMax">
                            <%= tabValIa[2] %>
                        </td>
                        <td id="IaMoyenne">
                            <%= tabValIa[3] %>
                        </td>
                    </tr>

                    <tr>
                        <td class="bolded">Ib (A)</td>
                        <td id="IbInst">
                            <%= tabValIb[0] %>
                        </td>
                        <td id="IbMin">
                            <%= tabValIb[1] %>
                        </td>
                        <td id="IbMax">
                            <%= tabValIb[2] %>
                        </td>
                        <td id="IbMoyenne">
                            <%= tabValIb[3] %>
                        </td>
                    </tr>

                    <tr>
                        <td class="bolded">KWh (kWh)</td>
                        <td id="KWhInst">
                            <%= tabValKWh[0] %>
                        </td>
                        <td id="KWhMin">
                            <%= tabValKWh[1] %>
                        </td>
                        <td id="KWhMax">
                            <%= tabValKWh[2] %>
                        </td>
                        <td id="KWhMoyenne">
                            <%= tabValKWh[3] %>
                        </td>
                    </tr>

                    <tr>
                        <td class="bolded">Kw (kW)</td>
                        <td id="KwInst">
                            <%= tabValKw[0] %>
                        </td>
                        <td id="KwMin">
                            <%= tabValKw[1] %>
                        </td>
                        <td id="KwMax">
                            <%= tabValKw[2] %>
                        </td>
                        <td id="KwMoyenne">
                            <%= tabValKw[3] %>
                        </td>
                    </tr>

                    <tr>
                        <td class="bolded">Fp (%)</td>
                        <td id="FpInst">
                            <%= tabValFp[0] %>
                        </td>
                        <td id="FpMin">
                            <%= tabValFp[1] %>
                        </td>
                        <td id="FpMax">
                            <%= tabValFp[2] %>
                        </td>
                        <td id="FpMoyenne">
                            <%= tabValFp[3] %>
                        </td>
                    </tr>
                </tbody>
            </table>
            </br></br>
        </section>


        </br></br>

        <h1 class="gradient-text">
            Panneau R.A.M
        </h1>

        </br></br>
        <div class="jumbotron bg-secondary text-center">
            <section id="panneauRAM_section">

                <div class="M_1" id="NivGB" class="200x160px"></div>
                <div class="M_1" id="NivPB" class="200x160px"></div>
                <div class="M_1" id="TmpPB" class="200x160px"></div>
                <div class="M_1" id="ValveGB" class="200x160px"></div>

                </br></br></br>

                <div class="M_2" id="ValvePB" class="200x160px"></div>
                <div class="M_2" id="ValveEC" class="200x160px"></div>
                <div class="M_2" id="ValveEF" class="200x160px"></div>

                </br></br></br></br>

                <table id="tablePm">
                    <thead>
                        <tr>
                            <th>Etat valve eau chaude :</th>
                            <th>Etat valve eau froide :</th>
                            <th>Etat de la pompe :</th>
                        </tr>
                    </thead>
                    <tbody id="body">
                        <tr>
                            <td id="eec" class="bolded">
                                <%= valveEEC %>
                            </td>
                            <td id="eef" class="bolded">
                                <%= valveEEF %>
                            </td>
                            <td id="pump" class="bolded">
                                <%= pompe %>
                            </td>
                        </tr>
                    </tbody>
                </table>

                </br></br></br></br>

                <% if(droit>= 1) {%>

                    <form onsubmit="return false" id="formToggle">

                        <div class="M_3">
                            <label for="startEEC">On</label>
                            <input type="radio" id="startEEC" name="etatEEC" checked>
                            <label for="stopEEC">Off</label>
                            <input type="radio" id="stopEEC" name="etatEEC">
                            </br></br>
                            <input type="submit" value="Set valve eau chaude" id="setEEC" />
                        </div>
                        <div class="M_3">
                            <label for="startEEF">On</label>
                            <input type="radio" id="startEEF" name="etatEEF" checked>
                            <label for="stopEEF">Off</label>
                            <input type="radio" id="stopEEF" name="etatEEF">
                            </br></br>
                            <input type="submit" value="Set valve eau froide" id="setEEF" />
                        </div>
                        <div class="M_3">
                            <label for="startPompe">On</label>
                            <input type="radio" id="startPompe" name="etatPompe" checked>
                            <label for="stopPompe">Off</label>
                            <input type="radio" id="stopPompe" name="etatPompe">
                            </br></br>
                            <input type="submit" value="Set pompe" id="setPompe" />
                        </div>
                    </form>

                    </br></br></br></br>



                    <button class="button espacement" onclick="openFormManuelRam()">Mode Manuel</button>
                    <button class="button espacement" onclick="openFormAutoRam()">Mode Auto</button>

                    </br></br></br></br>

                    <form onsubmit="return false" id="formManuelRam" style="display:none;">
                        <table id="tablePm">
                            <thead>
                                <tr>
                                    <th>Set ouverture valve gros bassin (%)</th>
                                    <th>Set ouverture valve petit bassin (%)</th>
                                    <th>Set ouverture valve eau chaude (%)</th>
                                    <th>Set ouverture valve eau froide (%)</th>
                                </tr>
                            </thead>
                            <tbody id="body">
                                <tr>
                                    <td class="text-center">
                                        </br>
                                        <input type="number" id="ouvertureValveGB" name="ouvertureValveGB" min="0"
                                            max="100" value="0">
                                        </br></br>
                                        <input type="submit" value="Set valve" id="setValveGB" />
                                    </td>

                                    <td class="text-center">
                                        </br>
                                        <input type="number" id="ouvertureValvePB" name="ouvertureValvePB" min="0"
                                            max="100" value="0">
                                        </br></br>
                                        <input type="submit" value="Set valve" id="setValvePB" />
                                    </td>

                                    <td class="text-center">
                                        </br>
                                        <input type="number" id="ouvertureValveEC" name="ouvertureValveEC" min="0"
                                            max="100" value="0">
                                        </br></br>
                                        <input type="submit" value="Set valve" id="setValveEC" />
                                    </td>

                                    <td class="text-center">
                                        </br>
                                        <input type="number" id="ouvertureValveEF" name="ouvertureValveEF" min="0"
                                            max="100" value="0">
                                        </br></br>
                                        <input type="submit" value="Set valve" id="setValveEF" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <form onsubmit="return false" id="formAutoRam" style="display:none;">
                        <table id="tablePm">
                            <thead>
                                <tr>
                                    <th>Set consigne niveau gros bassin (%)</th>
                                    <th>Set consigne niveau petit bassin (%)</th>
                                    <th>Set consigne temperature petit bassin (℃)</th>
                                </tr>
                            </thead>
                            <tbody id="body">
                                <tr>
                                    <td class="text-center">
                                        </br>
                                        <input type="number" id="consigneNivGb" name="consigneNivGb" min="0" max="100"
                                            value="0">
                                        </br></br>
                                        <input type="submit" value="Set consigne" id="setConsigneNivGb" />
                                    </td>

                                    <td class="text-center">
                                        </br>
                                        <input type="number" id="consigneNivPb" name="consigneNivPb" min="0" max="100"
                                            value="0">
                                        </br></br>
                                        <input type="submit" value="Set consigne" id="setConsigneNivPb" />
                                    </td>

                                    <td class="text-center">
                                        </br>
                                        <input type="number" id="consigneTmpPb" name="consigneTmpPb" min="0" max="100"
                                            value="0">
                                        </br></br>
                                        <input type="submit" value="Set consigne" id="setConsigneTmpPb" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>



                    </br></br>
                    <%}%>
                        </br></br>
            </section>
        </div>


        <% if(droit>= 2) {%>
            <form onsubmit="return false" id="formNivLhGB">
                <table id="tablePm">
                    <thead>
                        <tr>
                            <th>Set niveau maximum gros bassin (%)</th>
                            <th>Set temps de generation alarme gros bassin (sec)</th>
                            <th>Set temps de repetition alarme gros bassin (sec)</th>
                        </tr>
                    </thead>
                    <tbody id="body">
                        <tr>
                            <td class="text-center">
                                </br>
                                <input type="number" id="NivLhGB" name="NivLhGB" min="0" max="100" value="0">
                                </br></br>
                                <input type="submit" value="Set niveau" id="setNivLhGB" />
                            </td>

                            <td class="text-center">
                                </br>
                                <input type="number" id="TgNivGB" name="TgNivGB" min="1" max="20" value="1">
                                </br></br>
                                <input type="submit" value="Set temps" id="setTgNivGB" />
                            </td>

                            <td class="text-center">
                                </br>
                                <input type="number" id="TrNivGB" name="TrNivGB" min="1" max="20" value="1">
                                </br></br>
                                <input type="submit" value="Set temps" id="setTrNivGB" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

            </br></br></br></br>

            <form onsubmit="return false" id="formNivLhPB">
                <table id="tablePm">
                    <thead>
                        <tr>
                            <th>Set niveau maximum petit bassin bassin (%)</th>
                            <th>Set temps de generation alarme petit bassin (sec)</th>
                            <th>Set temps de repetition alarme petit bassin (sec)</th>
                        </tr>
                    </thead>
                    <tbody id="body">
                        <tr>
                            <td class="text-center">
                                </br>
                                <input type="number" id="NivLhPB" name="NivLhPB" min="0" max="100" value="0">
                                </br></br>
                                <input type="submit" value="Set niveau" id="setNivLhPB" />
                            </td>

                            <td class="text-center">
                                </br>
                                <input type="number" id="TgNivPB" name="TgNivPB" min="1" max="20" value="1">
                                </br></br>
                                <input type="submit" value="Set temps" id="setTgNivPB" />
                            </td>

                            <td class="text-center">
                                </br>
                                <input type="number" id="TrNivPB" name="TrNivPB" min="1" max="20" value="1">
                                </br></br>
                                <input type="submit" value="Set temps" id="setTrNivPB" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

            </br></br></br></br>

            <form onsubmit="return false" id="formErreurBal" style="display:none;">
                <label for="passwordAdminBal">Veuillez rentrer votre mot de passe pour reconnaitre l'alarme de la
                    balance:</label> </br>
                <input type="password" name="passwordAdminBal" id="passwordAdminBal" required>
                </br></br>
                <input type="submit" value="Confirmer" id="disableAlarmeBalance" />
            </form>
            </br>
            <form onsubmit="return false" id="formErreurPowerMeter" style="display:none;">
                <label for="passwordAdminPM">Veuillez rentrer votre mot de passe pour reconnaitre l'alarme du
                    powerMeter:</label> </br>
                <input type="password" name="passwordAdminPM" id="passwordAdminPM" required>
                </br></br>
                <input type="submit" value="Confirmer" id="disableAlarmePowerMeter" />
            </form>
            </br>
            <form onsubmit="return false" id="formErreurMelangeur" style="display:none;">
                <label for="passwordAdminMel">Veuillez rentrer votre mot de passe pour reconnaitre l'alarme du
                    melangeur :</label> </br>
                <input type="password" name="passwordAdminMel" id="passwordAdminMel" required>
                </br></br>
                <input type="submit" value="Confirmer" id="disableAlarmeMel" />
            </form>
            </br>

            <form onsubmit="return false" id="formErreurAspirateur" style="display:none;">
                <label for="passwordAdminAsp">Veuillez rentrer votre mot de passe pour reconnaitre l'alarme de
                    l'aspirateur :</label> </br>
                <input type="password" name="passwordAdminAsp" id="passwordAdminAsp" required>
                </br></br>
                <input type="submit" value="Confirmer" id="disableAlarmeAsp" />
            </form>

            </br>
            <form onsubmit="return false" id="formErreurALR_GB_OVF" style="display:none;">
                <label for="passwordAdminALR_GB_OVF">Veuillez rentrer votre mot de passe pour reconnaitre l'alarme de
                    debordement du gros bassin :</label> </br>
                <input type="password" name="passwordAdminALR_GB_OVF" id="passwordAdminALR_GB_OVF" required>
                </br></br>
                <input type="submit" value="Confirmer" id="disableAlarmeALR_GB_OVF" />
            </form>
            </br>
            <form onsubmit="return false" id="formErreurALR_PB_OVF" style="display:none;">
                <label for="passwordAdminALR_PB_OVF">Veuillez rentrer votre mot de passe pour reconnaitre l'alarme de
                    debordement du petit bassin :</label> </br>
                <input type="password" name="passwordAdminALR_PB_OVF" id="passwordAdminALR_PB_OVF" required>
                </br></br>
                <input type="submit" value="Confirmer" id="disableAlarmeALR_PB_OVF" />
            </form>
            </br>
            <form onsubmit="return false" id="formErreurALR_GB_NIV_MAX" style="display:none;">
                <label for="passwordAdminALR_GB_NIV_MAX">Veuillez rentrer votre mot de passe pour reconnaitre l'alarme
                    de
                    depassement de la consigne du niveau maximum du gros bassin :</label> </br>
                <input type="password" name="passwordAdminALR_GB_NIV_MAX" id="passwordAdminALR_GB_NIV_MAX" required>
                </br></br>
                <input type="submit" value="Confirmer" id="disableAlarmeALR_GB_NIV_MAX" />
            </form>
            </br>
            <form onsubmit="return false" id="formErreurALR_PB_NIV_MAX" style="display:none;">
                <label for="passwordAdminALR_PB_NIV_MAX">Veuillez rentrer votre mot de passe pour reconnaitre l'alarme
                    de
                    depassement de la consigne du niveau maximum du petit bassin :</label> </br>
                <input type="password" name="passwordAdminALR_PB_NIV_MAX" id="passwordAdminALR_PB_NIV_MAX" required>
                </br></br>
                <input type="submit" value="Confirmer" id="disableAlarmeALR_PB_NIV_MAX" />
            </form>
            <%}%>
    </div>

    <script>
        socket.on('Van', function (tabValVan) {
            $('#VanInst').html(tabValVan[0]);
            $('#VanMin').html(tabValVan[1]);
            $('#VanMax').html(tabValVan[2]);
            $('#VanMoyenne').html(tabValVan[3]);
        });
        socket.on('Vbn', function (tabValVbn) {
            $('#VbnInst').html(tabValVbn[0]);
            $('#VbnMin').html(tabValVbn[1]);
            $('#VbnMax').html(tabValVbn[2]);
            $('#VbnMoyenne').html(tabValVbn[3]);
        });
        socket.on('Vab', function (tabValVab) {
            $('#VabInst').html(tabValVab[0]);
            $('#VabMin').html(tabValVab[1]);
            $('#VabMax').html(tabValVab[2]);
            $('#VabMoyenne').html(tabValVab[3]);
        });
        socket.on('Ia', function (tabValIa) {
            $('#IaInst').html(tabValIa[0]);
            $('#IaMin').html(tabValIa[1]);
            $('#IaMax').html(tabValIa[2]);
            $('#IaMoyenne').html(tabValIa[3]);
        });
        socket.on('Ib', function (tabValIb) {
            $('#IbInst').html(tabValIb[0]);
            $('#IbMin').html(tabValIb[1]);
            $('#IbMax').html(tabValIb[2]);
            $('#IbMoyenne').html(tabValIb[3]);
        });
        socket.on('KW', function (tabValKw) {
            $('#KwInst').html(tabValKw[0]);
            $('#KwMin').html(tabValKw[1]);
            $('#KwMax').html(tabValKw[2]);
            $('#KwMoyenne').html(tabValKw[3]);
        });
        socket.on('KWh', function (tabValKWh) {
            $('#KWhInst').html(tabValKWh[0]);
            $('#KWhMin').html(tabValKWh[1]);
            $('#KWhMax').html(tabValKWh[2]);
            $('#KWhMoyenne').html(tabValKWh[3]);
        });
        socket.on('FP', function (tabValFp) {
            $('#FpInst').html(tabValFp[0]);
            $('#FpMin').html(tabValFp[1]);
            $('#FpMax').html(tabValFp[2]);
            $('#FpMoyenne').html(tabValFp[3]);
        });


        socket.on('NivGB', function (val) {
            g.refresh(val);
        });
        socket.on('NivPB', function (val) {
            g2.refresh(val);
        });
        socket.on('TmpPB', function (val) {
            g3.refresh(val);
        });
        socket.on('ValveGB', function (val) {
            g4.refresh(val);
        });
        socket.on('ValvePB', function (val) {
            g5.refresh(val);
        });
        socket.on('ValveEC', function (val) {
            g6.refresh(val);
        });
        socket.on('ValveEF', function (val) {
            g7.refresh(val);
        });
        socket.on('ValveEEC', function (val) {
            $('#eec').html(val);
        });
        socket.on('ValveEEF', function (val) {
            $('#eef').html(val);
        });
        socket.on('Pompe', function (val) {
            $('#pump').html(val);
        });

        var g = new JustGage({
            id: "NivGB",
            value: '<%= nivGB %>',
            min: 0,
            max: 100,
            shadow: true,
            pointer: true,
            pointerOptions: {
                toplength: 6,
                bottomlength: 6,
                bottomwidth: 6,
                stroke: 'none',
                stroke_width: 0,
                stroke_linecap: 'square',
                color: '#aa0404'
            },
            donut: false,
            label: "Niveau gros bassin (%)",
            labelMinFontSize: 14,
            hideMinMax: true
        });

        var g2 = new JustGage({
            id: "NivPB",
            value: '<%= nivPB %>',
            min: 0,
            max: 100,
            shadow: true,
            pointer: true,
            pointerOptions: {
                toplength: 6,
                bottomlength: 6,
                bottomwidth: 6,
                stroke: 'none',
                stroke_width: 0,
                stroke_linecap: 'square',
                color: '#aa0404'
            },
            donut: false,
            label: "Niveau petit bassin (%)",
            labelMinFontSize: 14,
            hideMinMax: true
        });

        var g3 = new JustGage({
            id: "TmpPB",
            value: '<%= tmpPB %>',
            min: 0,
            max: 100,
            shadow: true,
            pointer: true,
            pointerOptions: {
                toplength: 6,
                bottomlength: 6,
                bottomwidth: 6,
                stroke: 'none',
                stroke_width: 0,
                stroke_linecap: 'square',
                color: '#aa0404'
            },
            donut: false,
            label: "Temperature petit bassin (℃)",
            labelMinFontSize: 14,
            hideMinMax: true
        });

        var g4 = new JustGage({
            id: "ValveGB",
            value: '<%= valveGB %>',
            min: 0,
            max: 100,
            shadow: true,
            pointer: true,
            pointerOptions: {
                toplength: 6,
                bottomlength: 6,
                bottomwidth: 6,
                stroke: 'none',
                stroke_width: 0,
                stroke_linecap: 'square',
                color: '#aa0404'
            },
            donut: false,
            label: "Ouverture valve gros bassin (%)",
            labelMinFontSize: 14,
            hideMinMax: true
        });

        var g5 = new JustGage({
            id: "ValvePB",
            value: '<%= valvePB %>',
            min: 0,
            max: 100,
            shadow: true,
            pointer: true,
            pointerOptions: {
                toplength: 6,
                bottomlength: 6,
                bottomwidth: 6,
                stroke: 'none',
                stroke_width: 0,
                stroke_linecap: 'square',
                color: '#aa0404'
            },
            donut: false,
            label: "Ouverture valve petit bassin (%)",
            labelMinFontSize: 14,
            hideMinMax: true
        });

        var g6 = new JustGage({
            id: "ValveEC",
            value: '<%= valveEC %>',
            min: 0,
            max: 100,
            shadow: true,
            pointer: true,
            pointerOptions: {
                toplength: 6,
                bottomlength: 6,
                bottomwidth: 6,
                stroke: 'none',
                stroke_width: 0,
                stroke_linecap: 'square',
                color: '#aa0404'
            },
            donut: false,
            label: "Ouverture valve eau chaude (%)",
            labelMinFontSize: 14,
            hideMinMax: true
        });

        var g7 = new JustGage({
            id: "ValveEF",
            value: '<%= valveEF %>',
            min: 0,
            max: 100,
            shadow: true,
            pointer: true,
            pointerOptions: {
                toplength: 6,
                bottomlength: 6,
                bottomwidth: 6,
                stroke: 'none',
                stroke_width: 0,
                stroke_linecap: 'square',
                color: '#aa0404'
            },
            donut: false,
            label: "Ouverture valve eau froide (%)",
            labelMinFontSize: 14,
            hideMinMax: true
        });



        socket.on('erreurBalance', function () {
            $("#warningBalance").show();
            $("#formErreurBal").show();
        });

        socket.on('erreurPowerMeter', function () {
            $("#warningPowerMeter").show();
            $("#formErreurPowerMeter").show();
        });

        socket.on('erreurMelangeur', function () {
            $("#warningMelangeur").show();
            $("#formErreurMelangeur").show();
        });

        socket.on('erreurAspirateur', function () {
            $("#warningAspirateur").show();
            $("#formErreurAspirateur").show();
        });


        socket.on('erreurALR_GB_OVF', function () {
            $("#alarmeALR_GB_OVF").show();
            $("#formErreurALR_GB_OVF").show();
        });
        socket.on('erreurALR_PB_OVF', function () {
            $("#alarmeALR_PB_OVF").show();
            $("#formErreurALR_PB_OVF").show();
        });
        socket.on('erreurALR_GB_NIV_MAX', function () {
            $("#warningALR_GB_NIV_MAX").show();
            $("#formErreurALR_GB_NIV_MAX").show();
        });
        socket.on('erreurALR_PB_NIV_MAX', function () {
            $("#warningALR_PB_NIV_MAX").show();
            $("#formErreurALR_PB_NIV_MAX").show();
        });

        socket.on('hideALR_GB_OVF', function () {
            $("#alarmeALR_GB_OVF").hide();
            $("#formErreurALR_GB_OVF").hide();
        });
        socket.on('hideALR_PB_OVF', function () {
            $("#alarmeALR_PB_OVF").hide();
            $("#formErreurALR_PB_OVF").hide();
        });
        socket.on('hideALR_GB_NIV_MAX', function () {
            $("#warningALR_GB_NIV_MAX").hide();
            $("#formErreurALR_GB_NIV_MAX").hide();
        });
        socket.on('hideALR_PB_NIV_MAX', function () {
            $("#warningALR_PB_NIV_MAX").hide();
            $("#formErreurALR_PB_NIV_MAX").hide();
        });



        socket.on('hideErreurMeter', function () {
            $('#warningPowerMeter').hide();
            $('#formErreurPowerMeter').hide();
        });

        socket.on('hideErreurBal', function () {
            $('#warningBalance').hide();
            $('#formErreurBal').hide();
        });

        socket.on('hideErreurMel', function () {
            $('#warningMelangeur').hide();
            $('#formErreurMelangeur').hide();
        });

        socket.on('hideErreurAsp', function () {
            $('#warningAspirateur').hide();
            $('#formErreurAspirateur').hide();
        });

        $('#disableAlarmeBalance').click(function () {
            if ($('#passwordAdminBal').val() == '<%= password %>') {
                socket.emit('ackBalance', '<%= utilisateur %>');
            }
            else {
                alert("Le mot de passe vous avez entrer n'est pas valide");
            }
        });

        $('#disableAlarmePowerMeter').click(function () {
            if ($('#passwordAdminPM').val() == '<%= password %>') {
                socket.emit('ackPowerMeter', '<%= utilisateur %>');
            }
            else {
                alert("Le mot de passe vous avez entrer n'est pas valide");
            }
        });

        $('#disableAlarmeMel').click(function () {
            if ($('#passwordAdminMel').val() == '<%= password %>') {
                socket.emit('ackMelangeur', '<%= utilisateur %>');
            }
            else {
                alert("Le mot de passe vous avez entrer n'est pas valide.");
            }
        });

        $('#disableAlarmeAsp').click(function () {
            if ($('#passwordAdminAsp').val() == '<%= password %>') {
                socket.emit('ackAspirateur', '<%= utilisateur %>');
            }
            else {
                alert("Le mot de passe vous avez entrer n'est pas valide.");
            }
        });



        $('#disableAlarmeALR_GB_OVF').click(function () {
            if ($('#passwordAdminALR_GB_OVF').val() == '<%= password %>') {
                socket.emit('ackALR_GB_OVF', '<%= utilisateur %>');
            }
            else {
                alert("Le mot de passe vous avez entrer n'est pas valide.");
            }
        });
        $('#disableAlarmeALR_PB_OVF').click(function () {
            if ($('#passwordAdminALR_PB_OVF').val() == '<%= password %>') {
                socket.emit('ackALR_PB_OVF', '<%= utilisateur %>');
            }
            else {
                alert("Le mot de passe vous avez entrer n'est pas valide.");
            }
        });
        $('#disableAlarmeALR_GB_NIV_MAX').click(function () {
            if ($('#passwordAdminALR_GB_NIV_MAX').val() == '<%= password %>') {
                socket.emit('ackALR_GB_NIV_MAX', '<%= utilisateur %>');
            }
            else {
                alert("Le mot de passe vous avez entrer n'est pas valide.");
            }
        });
        $('#disableAlarmeALR_PB_NIV_MAX').click(function () {
            if ($('#passwordAdminALR_PB_NIV_MAX').val() == '<%= password %>') {
                socket.emit('ackALR_PB_NIV_MAX', '<%= utilisateur %>');
            }
            else {
                alert("Le mot de passe vous avez entrer n'est pas valide.");
            }
        });




        function openFormManuelRam() {
            document.getElementById('formManuelRam').style.display = "block";
            document.getElementById('formAutoRam').style.display = "none";
            socket.emit('modeRam', "manuel");
        }

        function openFormAutoRam() {
            document.getElementById('formAutoRam').style.display = "block";
            document.getElementById('formManuelRam').style.display = "none";
            socket.emit('modeRam', "auto");
        }

        $('#setEEC').click(function () {
            if (document.getElementById('startEEC').checked == true) {
                socket.emit('setEEC', "on");
            }
            else {
                socket.emit('setEEC', "off");
            }
        });

        $('#setEEF').click(function () {
            if (document.getElementById('startEEF').checked == true) {
                socket.emit('setEEF', "on");
            }
            else {
                socket.emit('setEEF', "off");
            }
        });

        $('#setPompe').click(function () {
            if (document.getElementById('startPompe').checked == true) {
                socket.emit('setPompe', "on");
            }
            else {
                socket.emit('setPompe', "off");
            }
        });



        $('#setValveGB').click(function () {
            var val = $('#ouvertureValveGB').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setValveGB', val);
            }
        });

        $('#setValvePB').click(function () {
            var val = $('#ouvertureValvePB').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setValvePB', val);
            }
        });

        $('#setValveEC').click(function () {
            var val = $('#ouvertureValveEC').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setValveEC', val);
            }
        });

        $('#setValveEF').click(function () {
            var val = $('#ouvertureValveEF').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setValveEF', val);
            }
        });



        $('#setConsigneNivGb').click(function () {
            var val = $('#consigneNivGb').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setConsigneNivGb', val);
            }
        });

        $('#setConsigneNivPb').click(function () {
            var val = $('#consigneNivPb').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setConsigneNivPb', val);
            }
        });

        $('#setConsigneTmpPb').click(function () {
            var val = $('#consigneTmpPb').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setConsigneTmpPb', val);
            }
        });



        $('#setNivLhGB').click(function () {
            var val = $('#NivLhGB').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setNivLhGB', val);
            }
        });

        $('#setTgNivGB').click(function () {
            var val = $('#TgNivGB').val();
            if (val <= 20 && val >= 1) {
                socket.emit('setTgNivGB', val);
            }
        });

        $('#setTrNivGB').click(function () {
            var val = $('#TrNivGB').val();
            if (val <= 20 && val >= 1) {
                socket.emit('setTrNivGB', val);
            }
        });



        $('#setNivLhPB').click(function () {
            var val = $('#NivLhPB').val();
            if (val <= 100 && val >= 0) {
                socket.emit('setNivLhPB', val);
            }
        });

        $('#setTgNivPB').click(function () {
            var val = $('#TgNivPB').val();
            if (val <= 20 && val >= 1) {
                socket.emit('setTgNivPB', val);
            }
        });

        $('#setTrNivPB').click(function () {
            var val = $('#TrNivPB').val();
            if (val <= 20 && val >= 1) {
                socket.emit('setTrNivPB', val);
            }
        });




    </script>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>