<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    </br>

    <div class="jumbotron">

        <h1 id="texteLogin" class="gradient-text">
            <%= texte %>
        </h1>

        </br>

        <p>
            Utilisateur: <%= utilisateur %>
        </p>

        </br>

        <% if(droit>= 1) {%>
            <form onsubmit="return false" class="jumbotron bg-secondary">
                <label for="changerLogin" class="gradient-text"><b>Changez votre message d'accueil :</b></label>
                </br></br>
                <input type="text" placeholder="Enter Message" name="changerMessage" id="changerMessage" required>
                </br></br>
                <input type="submit" value="Changer" id="pokeChangerMessage" class="gradient-text" />

            </form>

            </br></br>
            <%}%>

                <% if(droit>= 2) {%>
                    <form onsubmit="return false" class="jumbotron bg-secondary">
                        <p id="textePassword">
                            Mot de passe: <%= password %>
                        </p>
                        </br>
                        <label for="changerPassword" class="gradient-text"><b>Changez votre mot de passe :</b></label>
                        </br></br>
                        <input type="text" placeholder="Enter Password" name="changerPassword" id="changerPassword"
                            required> </br></br>
                        <input type="submit" value="Changer" id="pokeChangerPassword" class="gradient-text" />
                    </form>

                    </br></br>

                    <%}%>
                        <% if(droit==3) {%>
                            <form onsubmit="return false" class="jumbotron bg-secondary">
                                <label for="changerPassword" class="gradient-text"><b>Changez le messsage d'un
                                        utilisateur :</b></label>
                                </br></br>
                                <input type="text" placeholder="Enter Username" name="userMessage" id="userMessage"
                                    required>
                                <input type="text" placeholder="Enter Message" name="changerUserMessage"
                                    id="changerUserMessage" required>
                                </br></br>
                                <input type="submit" value="Changer" id="pokeChangerUserMessage"
                                    class="gradient-text" />
                            </form>

                            </br></br>

                            <form onsubmit="return false" class="jumbotron bg-secondary">
                                <label for="changerPassword" class="gradient-text"><b>Changez le mot de passe d'un
                                        utilisateur :</b></label>
                                </br></br>
                                <input type="text" placeholder="Enter Username" name="userPassword" id="userPassword"
                                    required>
                                <input type="text" placeholder="Enter Password" name="changerUserPassword"
                                    id="changerUserPassword" required>
                                </br></br>
                                <input type="submit" value="Changer" id="pokeChangerUserPassword"
                                    class="gradient-text" />
                            </form>

                            </br></br>

                            <form id="formAjout" onsubmit="return false" class="jumbotron bg-secondary">
                                <label for="label2" class="gradient-text"><b>Ajoutez un utilisateur au site web
                                        :</b></label>
                                </br> </br>
                                <label for="ajoutLogin" id="label2">Nom d'utilisateur :</label>
                                <input type="text" placeholder="Enter Username" name="ajoutLogin" id="ajoutLogin"
                                    required>
                                </br></br>
                                <label for="ajoutPassword">Mot de passe :</label>
                                <input type="text" placeholder="Enter Password" name="ajoutPassword" id="ajoutPassword"
                                    required>
                                </br></br>
                                <label for="ajoutDroit">Niveau de droit :</label>
                                <input type="number" name="ajoutDroit" id="ajoutDroit" min="0" max="3" value="0"
                                    required>
                                </br></br>
                                <label for="ajoutMessage">Message d'accueil :</label>
                                <input type="text" placeholder="Enter Message" name="ajoutMessage" id="ajoutMessage"
                                    required>

                                </br></br>
                                <input type="submit" value="Ajouter" id="pokeAjouterUser" class="gradient-text" />
                            </form>

                            </br></br>

                            <form onsubmit="return false" class="jumbotron bg-secondary">
                                <label for="deleteUser" class="gradient-text"><b>Supprimez un utilisateur existant :
                                    </b></label>
                                </br></br>
                                <input type="text" placeholder="Enter Username" name="deleteUser" id="deleteUser"
                                    required>
                                </br></br>
                                <input type="submit" value="Suprimmer" id="pokeDeleteUser" class="gradient-text" />
                            </form>

                            </br></br>

                            <h2 class="gradient-text">Tout les utilisateurs: </h2>
                            </br></br>
                            <table id="tableUsers">
                                <thead>
                                    <tr>
                                        <th>Utilisateur</th>
                                        <th>Password</th>
                                        <th>Texte d'accueil</th>
                                    </tr>
                                </thead>
                                <tbody id="body"></tbody>
                            </table>
                            </br></br>
                            <%}%>
    </div>

    <script>
        var listUtilisateur = [];

        $('#pokeChangerMessage').click(function () {
            if ($('#changerMessage').val() != "") {
                var userActuel = '<%= utilisateur %>';
                socket.emit('messageLogin', $('#changerMessage').val(), userActuel);
                alert("Votre message d'accueil a été modifier.")
                $('#texteLogin').html($('#changerMessage').val());
            }
        });

        $('#pokeChangerPassword').click(function () {
            if ($('#changerPassword').val() != "") {
                var userActuel = '<%= utilisateur %>';
                socket.emit('messagePassword', $('#changerPassword').val(), userActuel);
                alert("Votre password a été modifier.")
                var stringPassword = "Mot de passe: " + $('#changerPassword').val();
                $('#textePassword').html(stringPassword);
            }
        });

        $('#pokeChangerUserMessage').click(function () {
            var etat = 0;
            if ($('#changerUserMessage').val() != "" && $('#userMessage').val() != "") {
                for (let i = 0; i < listUtilisateur.length; i++) {
                    if ((listUtilisateur[i]) == (($('#userMessage').val()).toString())) {
                        socket.emit('messageAdminLogin', $('#changerUserMessage').val(), $('#userMessage').val());
                        alert("Vous avez modifier le message d'accueil du user " + listUtilisateur[i]);
                        etat = 1;
                        break;
                    }
                }
                if (etat == 0) {
                    alert("L'utilisateur vous avez entrer n'existe pas ");
                }
            }
        });

        $('#pokeChangerUserPassword').click(function () {
            var etat = 0;
            if ($('#changerUserPassword').val() != "" && $('#userPassword').val() != "") {
                for (let i = 0; i < listUtilisateur.length; i++) {
                    if ((listUtilisateur[i]) == (($('#userPassword').val()).toString())) {
                        socket.emit('messageAdminPassword', $('#changerUserPassword').val(), $('#userPassword').val());
                        alert("Vous avez modifier le mot de passe du user " + listUtilisateur[i]);
                        etat = 1;
                        break;
                    }
                }
                if (etat == 0) {
                    alert("L'utilisateur vous avez entrer n'existe pas ");
                }
            }
        });

        $('#pokeAjouterUser').click(function () {
            var etat = 1;
            if (($('#ajoutLogin').val() != "") && ($('#ajoutPassword').val() != "") && ($('#ajoutMessage').val() != "")) {
                if ($('#ajoutDroit').val() <= 3) {
                    for (let i = 0; i < listUtilisateur.length; i++) {

                        if ((listUtilisateur[i]) == (($('#ajoutLogin').val()).toString())) {
                            etat = 0;
                            alert("L'utilisateur " + listUtilisateur[i] + " existe deja !");
                            break;
                        }
                    }
                }
                else {
                    alert("Ce droit d'utilisateur n'existe pas !");
                    etat = 0;
                }


                if (etat == 1) {
                    socket.emit('ajoutUtilisateur', $('#ajoutLogin').val(), $('#ajoutPassword').val(), $('#ajoutDroit').val(), $('#ajoutMessage').val());
                    alert("Vous avez ajouter l'utilisateur " + $('#ajoutLogin').val());
                }
            }
        });

        $('#pokeDeleteUser').click(function () {
            var etat = 0;
            if ($('#deleteUser').val() != "") {
                for (let i = 0; i < listUtilisateur.length; i++) {
                    if ((listUtilisateur[i]) == (($('#deleteUser').val()).toString())) {
                        socket.emit('deleteUser', $('#deleteUser').val());
                        alert("Vous avez enlever l'utilisateur " + listUtilisateur[i]);
                        etat = 1;
                        break;
                    }
                }
                if (etat == 0) {
                    alert("L'utilisateur vous avez entrer n'existe pas ");
                }
            }
        });

        socket.on('tableauUser', function (listPassword, listTexte, listUser) {
            var Table = document.getElementById("body");
            Table.innerHTML = "";
            let myTable = document.getElementById('tableUsers').getElementsByTagName('tbody')[0];
            for (i = 0; i < listUser.length; i++) {
                let row = myTable.insertRow();
                let userCell = row.insertCell(0);
                let passwordCell = row.insertCell(1);
                let texteCell = row.insertCell(2);
                userCell.innerHTML = listUser[i];
                passwordCell.innerHTML = listPassword[i];
                texteCell.innerHTML = listTexte[i];
                listUtilisateur[i] = listUser[i];
            }
        });
    </script>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>